.green {
  background-color: green;
}

/*.image {
  height: 100vh;
  background-image: url(img/wutang-pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}*/

#image img{
  max-width: 100%;
}

.heading-block{


}

h1{
  padding-top: 20px;
  text-align: right;
  font-size: 100px;
  line-height: 80%;
  /*background-color: yellow;*/
}

h4 {
  text-align: right;
  font-size: 22px;
}


html {
  background-color: #76e0d7;
}

body {
  background: inherit;
}


.heading-block{
  margin: auto;
  width: 75%;
  padding-right: 5%;
}

#hidden-jewels {
  display: none;
}
